.section_divider {
  height: 75vh;
}

.background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-image: url('/images/food3.JPG');
  background-position: center;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 750px) {
  .section_divider {
    height: 50vh;
  }
}
